<div class="container">
  <div class="row">
    <form class="text-center mt-5 d-flex flex-column gap-4">
      <h1>Calculadora por km recorridos</h1>
      <label for="km">
        <p>Insertar km recorridos:</p>
        <input type="number" name="km" #km>
      </label>
      <button class="btn btn-success d-block m-auto" (click)="calcular(km)">Send</button>
    </form>
    <div class="text-center mt-5">
      <h1>Resultados</h1>
      <div class="flex flex-column gap-2">
        <p> Importe sin descuento: {{pago}}</p>
        <p> Descuento: {{descuento}}</p>
        <p> Importe neto: {{pagoNeto}}</p>
      </div>
    </div>
  </div>
</div>